body{
  background-color: #b35900;
}
ul{
  display: flex;
  list-style: none;


}

li{

  margin-right:5%;


}
.Form{
  width: 26rem;
  padding: 2rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  box-shadow: 8px 8px 10px #888888
}
.Form{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
input{
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}